---
import type { CollectionEntry } from 'astro:content'

import { getCollection } from 'astro:content'
import { render } from 'astro:content'

export async function getStaticPaths() {
  const posts = [...(await getCollection('blog')), ...(await getCollection('notion'))]
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'> | CollectionEntry<'notion'>

const post = Astro.props
const { Content } = await render(post)
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <main>
      <article>
        <div class="hero-image"></div>
        <div class="prose">
          <div class="title">
            {post.data.title}
            <div class="date">
              {
                (() => {
                  if (post.collection === 'blog') {
                    return (
                      <time datetime={post.data.pubDate.toLocaleString()}>{post.data.pubDate.toLocaleString()}</time>
                    )
                  } else {
                    return (
                      <time datetime={post.data.created_time}>{new Date(post.data.created_time).toLocaleString()}</time>
                    )
                  }
                })()
              }
            </div>
            <hr />
          </div>
          <Content />
          <hr />
          <div>
            {post.body}
          </div>
          <hr />
          {post.filePath}
          <hr />
          {post.rendered?.html}
        </div>
      </article>
    </main>
  </body>
</html>
